<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--jason-->
    <add key="ConStrSecond" value="Server=UAT-TAB-01;Database=TabletProjectT24Sprint11;User ID=userapp;Password=AMKAdmin*&amp;*"/>
    <add key="ConStr" value="Server=UAT-TAB-01;Database=TabletProjectT24Sprint11;User ID=userapp;Password=AMKAdmin*&amp;*"/>
    <add key="Api" value="amk|123"/>
    <add key="ImgPath" value="C:\TabletT24_Schedule\Web\imgFromDevice\"/>
    <add key="WebPath" value="https://UAT-TAB-01.amkcambodia.com:1005"/>
    <add key="ConStrInsight" value="Server=InsightConn;Database=InsightLanding;User ID=ReadUser;Password=ReadOnly@amk"/>
    <add key="ConStrInsightConn" value="Server=InsightConn;Database=AMKlocalRef;User ID=userapp;Password=AMKAdmin*&amp;*"/>
    <add key="TabletWSUrl" value="https://UAT-TAB-01.amkcambodia.com:1006"/>
    <add key="TabletWSAPIName" value="Tablet"/>
    <add key="TabletWSAPIKey" value="GoUIaceWQ4Wq2tKFHdsU2w=="/>
    <add key="TabletWSUser" value="amk"/>
    <add key="TabletWSPwd" value="123"/>
    <!--Pen test-->
    <!--<add key="ConStrSecond" value="Server=uatmitb01;Database=TabletProjectT24_Pentest;User ID=userapp;Password=AMKAdmin*&amp;*" />
    <add key="ConStr" value="Server=uatmitb01;Database=TabletProjectT24_Pentest;User ID=userapp;Password=AMKAdmin*&amp;*" />
    <add key="Api" value="amk|123" />
    <add key="ImgPath" value="C:\TabletT24_All\Web\imgFromDevice\" />
    <add key="WebPath" value="https://uatmitb01.amkcambodia.com:5555" />
    <add key="ConStrInsight" value="Server=InsightConn;Database=InsightLanding;User ID=ReadUser;Password=ReadOnly@amk" />
    <add key="ConStrInsightConn" value="Server=InsightConn;Database=AMKlocalRef;User ID=userapp;Password=AMKAdmin*&amp;*" />
    <add key="TabletWSUrl" value="https://uatmitb01.amkcambodia.com:7777" />
    <add key="TabletWSAPIName" value="Tablet" />
    <add key="TabletWSAPIKey" value="GoUIaceWQ4Wq2tKFHdsU2w==" />
    <add key="TabletWSUser" value="amk" />
    <add key="TabletWSPwd" value="123" />-->
    <!--Pre Production-->
    <!--<add key="ConStrSecond" value="Server=uat-tab-pre01;Database=TabletProjectT24;User ID=userapp;Password=AMKAdmin*&amp;*" />
    <add key="ConStr" value="Server=uat-tab-pre01;Database=TabletProjectT24;User ID=userapp;Password=AMKAdmin*&amp;*" />
    <add key="Api" value="amk|123" />
    <add key="ImgPath" value="C:\TabletT24_Schedule\Web\imgFromDevice\" />
    <add key="WebPath" value="https://uat-tab-pre01.amkcambodia.com:8001" />
    <add key="ConStrInsight" value="Server=InsightConn;Database=InsightLanding;User ID=ReadUser;Password=ReadOnly@amk" />
    <add key="ConStrInsightConn" value="Server=InsightConn;Database=AMKlocalRef;User ID=userapp;Password=AMKAdmin*&amp;*" />
    <add key="TabletWSUrl" value="http://localhost:57705/" />
    <add key="TabletWSAPIName" value="Tablet" />
    <add key="TabletWSAPIKey" value="GoUIaceWQ4Wq2tKFHdsU2w==" />
    <add key="TabletWSUser" value="amk" />
    <add key="TabletWSPwd" value="123" />-->
    <!--Production KSV-->
    <!--<add key="ConStrSecond" value="Server=tabswitchksvdb;Database=TabletProjectT24;User ID=userapp;Password=AMKAdmin*&amp;*" />
    <add key="ConStr" value="Server=tabswitchksvdb;Database=TabletProjectT24;User ID=userapp;Password=AMKAdmin*&amp;*" />
    <add key="Api" value="amk|123" />
    <add key="ImgPath" value="C:\TabletT24\Web\imgFromDevice\" />
    <add key="WebPath" value="https://tabswitchksv.amkcambodia.com:8001" />
    <add key="ConStrInsight" value="Server=insighttablet;Database=InsightLanding;User ID=userapp;Password=AMKAdmin*&amp;*" />
    <add key="ConStrInsightConn" value="Server=InsightConn;Database=AMKlocalRef;User ID=userapp;Password=AMKAdmin*&amp;*" />  
    <add key="TabletWSUrl" value="https://tabswitchksv.amkcambodia.com:6001" />
    <add key="TabletWSAPIName" value="Tablet" />
    <add key="TabletWSAPIKey" value="GoUIaceWQ4Wq2tKFHdsU2w==" />
    <add key="TabletWSUser" value="amk" />
    <add key="TabletWSPwd" value="123" />-->
    <!--Production-->
    <!--<add key="ConStrSecond" value="Server=tabdb2;Database=TabletProjectT24;User ID=userapp;Password=AMKAdmin*&amp;*" />
    <add key="ConStr" value="Server=amktabswitchdbt24;Database=TabletProjectT24;User ID=userapp;Password=AMKAdmin*&amp;*" />
    <add key="Api" value="amk|123" />
    <add key="ImgPath" value="C:\TabletT24\Web\imgFromDevice\" />
    <add key="WebPath" value="https://amktabswitcht24.amkcambodia.com:8001" />
    <add key="ConStrInsight" value="Server=insighttablet;Database=InsightLanding;User ID=userapp;Password=AMKAdmin*&amp;*" />
    <add key="ConStrInsightConn" value="Server=InsightConn;Database=AMKlocalRef;User ID=userapp;Password=AMKAdmin*&amp;*" />
    <add key="TabletWSUrl" value="https://amktabswitcht24.amkcambodia.com:6002/" />
    <add key="TabletWSAPIName" value="Tablet" />
    <add key="TabletWSAPIKey" value="GoUIaceWQ4Wq2tKFHdsU2w==" />
    <add key="TabletWSUser" value="amk" />
    <add key="TabletWSPwd" value="123" />-->
    <!--For All-->
    <add key="SqlTimeout" value="300"/>
    <add key="RestTimeout" value="100000"/>
    <!--120000=2minutes | 180000=3minutes-->
    <add key="AppTitle" value="AMK Tab Switch T24 3.1.9"/>
    <add key="AppVersion" value="3.1.9"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <!--<sessionState timeout="1440"/>-->
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime executionTimeout="3600" maxUrlLength="10999" maxQueryStringLength="2097151" enableVersionHeader="false"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="9999"/>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <add name="X-Frame-Options" value="DENY"/>
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>